body{
  background-color: #EB6262
}

#logoContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#logo{
  background-color: white;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 40px;
  background-image: url("./images/dropbox.png");
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: center;
}

#landingContent{
  display: flex;
  flex-basis: 100%;
  color: white;
  justify-content: center;
margin-top: 30px;
}

#landingContent2{
  display: flex;
  flex-basis: 100%;
  color: white;
  justify-content: center;
margin-top: 30px;
}

#landingContent3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

#customer{
  height: 128px;
  width: 128px;
  background-image: url("./images/man.png");
  margin-right: 20px;
}

#store{
  height: 128px;
  width: 128px;
  background-image: url("./images/shop.png")
}

#nav-logo{
  background-image: url("./images/dropbox.png");
  height: 50px;
  width: 50px;
  background-size: 50px;
  margin-right: 20px;
  float: left;
}

#loginAvatars{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}

#spiderman{
  height: 100px;
  width: 100px;
  background-image: url("./images/spiderman.png");
  background-size: 100px 100px
}

#batman{
  height: 100px;
  width: 100px;
  background-image: url("./images/batman.png");
  background-size: 100px 100px
}

#thor{
  height: 100px;
  width: 100px;
  background-image: url("./images/thor.png");
  background-size: 100px 100px
}

#email{
  margin-bottom: 10px;
}

#loginBtn{
  margin-top: 10px;
}

#loginBoxArea{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.card{
  width: 18rem;
  border-radius: 3%;
}

#loginBtn{
  margin-top: 10px;
  margin-right: 5px;
}

.input{
  border-radius: 25px;
}

#signInTxt{
  color: white;
  margin: 0;
}

#welcomeTxt{
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#pullBox{
  width: 900px;
  height:500px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

#statement{
  margin-top: 30px;
}
